@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Teko:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply font-secondary;
    }
    h1, h2, h3, h4,h5, h6{
        @apply  font-primary text-heading ; 
    }
    h1{
        @apply text-5xl;
    }
    h2{
        @apply text-4xl;
    }
    h3{
        @apply text-3xl;
    }
    h4{
        @apply text-2xl;
    }
    h5{
        @apply text-xl;
    }
    h6{
        @apply text-lg;
    }
    

}

@layer components{

    .btn-primary {
        @apply bg-primary py-4 px-8 uppercase font-light text-sm rounded-md relative inline-block; 
    }

    .btn-secondary{
        @apply bg-primary text-white font-semibold block py-[22px] px-7 uppercase text-sm mt-6 sm:mt-0 !rounded-r-md;
    }
    .btn-success {
        @apply inline-block w-full text-center uppercase bg-primary py-4 rounded-md text-white;
    }
    select{
        @apply w-full px-5 py-4 border-red-50  placeholder:text-gray-100 bg-white shadow-sm ;
    }
    .option{
        @apply placeholder:text-gray-100
    }
    .text-list input{
        @apply focus:outline-none focus:border-none focus:shadow-transparent w-full px-5 py-4 border-red-50 placeholder:text-gray-12000 bg-white;  
    }
    .text-list input[type],
    .text-list input[type]:focus{
        box-shadow: none !important;
        border: 0;
    }
    .banner-i input[type],
    .banner-i input[type]:focus{
        box-shadow: none !important;
        border: 0;
    }
    
    /* css style */
    .info-caption p {
        @apply text-[16px] font-normal text-gray-200;
    }
    .info-caption h5 {
        @apply font-semibold
    }   
         
            /*  */

    .social-icons li{
        @apply text-gray-100 hover:text-primary transition duration-500;
    }
    .social-icons li:hover{
        transform: rotateY(180deg);
    }


         /*  */


    .h-menu li a{
        @apply  text-white hover:text-primary;
    }
    .about-font-img{
        @apply max-w-[434px] w-full h-full right-0 ;
    }
    .header-menu .h-menu{
        @apply flex gap-x-16  items-center ;
    }
    .header-menu .h-menu ul {
        @apply  block md:flex gap-x-10 ;
    }
    .mobile-menu .h-menu li a{
        @apply  text-white hover:text-heading font-semibold;
    }
    .mobile-menu {
        @apply rounded-l-md fixed right-0 bg-primary w-52 h-64 py-3 px-5;
    }
    .mobile-menu .h-menu ul li {
        @apply py-2 border-b-2 border-gray-10;
    }
     
}
    .menutrigger span {
        @apply h-[2px] w-[30px] bg-white block;
    }
    .menutrigger span:nth-child(2) {
        margin: 6px 0;
    }
    .menutrigger.active span:nth-child(2) {
        opacity: 0;
    }
    .menutrigger.active span:nth-child(3) {
        transform: rotate(-45deg) translateY(-7px) translateX(4px);
    }
    .menutrigger.active span:nth-child(1) {
        transform: rotate(45deg) translateY(7px) translateX(4px);
    }

          /*  */


    .owl-nav button {
        border: 1px solid !important;
        font-size: 28px !important;
        @apply !text-gray-20 w-[45px] h-[45px] rounded-[20%] m-1 flex justify-center items-center hover:!text-primary transition-all duration-500;
    }

    .owl-nav {
        top: 172px;
        @apply justify-end w-full absolute flex;
    }

       /*  */

.nice-select {
	line-height: 53px;
    @apply border-gray-50 h-14;
}

.service-inpur input {
	display: none;
}
.service-inpur span {
    @apply  block relative pl-8 text-sm text-gray-200;
}
.service-inpur span::before {
	content: "";
    @apply absolute left-0 w-5 h-5 top-0 border border-gray-200 rounded-full;
}
.service-inpur span::after {
	content: "";
    @apply absolute left-[4.5px] w-[11px] h-[11px] top-[4.5px] bg-primary rounded-full opacity-0;
}
.service-inpur input:checked + span:before{
    border-color: #ff5f13;
    transition: .5s;
}
.service-inpur input:checked + span:after{
    @apply opacity-100 transition-all duration-500 ;
}
.text-list input{
    @apply rounded;
}
.f-list li  {
    @apply font-light text-gray-900 py-2;
}

      /*  */

.go-top {
    @apply fixed bg-primary z-10 bottom-10 w-10 h-10 right-5 flex items-center justify-center text-white rounded-full cursor-pointer;
}

